

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url('/fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
  font-family: Gilroy;
  font-weight: 500;
  src: url('/fonts/Gilroy-Medium.woff') format('woff');
}


@font-face {
  font-family: Gilroy;
  font-weight: 700;
  src: url('/fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
  font-family: "Suisse Int'l";
  font-weight: 400;
  src: url('/fonts/.woff') format('woff');
}

@font-face {
  font-family: "Suisse Int'l";
  font-weight: 300;
  src: url('/fonts/SuisseIntl-Light.woff') format('woff');
}


@font-face {
  font-family: "Suisse Int'l";
  font-weight: 400;
  src: url('/fonts/SuisseIntl-Regular.woff') format('woff');
}

@font-face {
  font-family: "Suisse Int'l";
  font-weight: 500;
  src: url('/fonts/SuisseIntl-Medium.woff') format('woff');
}

@font-face {
  font-family: "Suisse Int'l";
  font-weight: 600;
  src: url('/fonts/SuisseIntl-SemiBold.woff') format('woff');
}


@font-face {
  font-family: "Suisse Int'l";
  font-weight: 700;
  src: url('/fonts/SuisseIntl-Bold.woff') format('woff');
}

/* width */
::-webkit-scrollbar {
  @apply w-[5px];
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary/30 rounded-md;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secondary/60 rounded-md;
}


@layer base{
  .wysiwyg a {
    @apply text-primary-light dark:text-common-white dark:underline hover:underline focus:outline-none focus:underline;
  }
}

@layer utilities {
  .hide-scroll {
		scrollbar-width: none;
		-ms-overflow-style: none;
		-webkit-overflow-scrolling: touch;
	}

	.hide-scroll::-webkit-scrollbar {
		display: none;
	}
}